<ion-view title="Plan - nuevo gasto" id="page19">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Concepto</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Valor</span>
                    <input type="number" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.planPlanDeGastos" id="planNuevoGasto-button46" class="button button-stable  button-block">Guardar</a>
        </form>
    </ion-content>
</ion-view>