<ion-view title="Plan - Lista de días (actividades)" id="page20">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="tabsController.gralAAdirActividad" id="planListaDeDAsActividades-button59" class="button button-positive  icon-left ion-android-add">Añadir actividad</a>
        <div class="button-bar">
            <a ui-sref="tabsController.planListaDeDAs" id="planListaDeDAsActividades-button53" class="button button-stable  button-block">Días</a>
            <button id="planListaDeDAsActividades-button54" class="button button-positive  button-block">Actividades</button>
            <a ui-sref="tabsController.planListaDeDAsLugares" id="planListaDeDAsActividades-button55" class="button button-stable  button-block">Lugares</a>
        </div>
        <ion-list>
            <ion-item class="item-divider">Día 1 - Bogotá</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Llegada a Bogotá</h2>
                <p>mañana</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Visita centro histórico</h2>
                <p>Mañana</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Visita Monserrate</h2>
                <p>Tarde - $20.000</p>
            </ion-item>
            <ion-item class="item-divider">Día 2 - Villavicencio</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Bioparque los Ocarros</h2>
                <p>Mañana - $13.000</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Hacienda las malocas</h2>
                <p>Tarde - $17.000</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>