
<ion-view title="Tabs anidadas2!" class="view-container">
<!--TRUCO DE PONER MANUALMENTE EL BTÓN PARA ABRIR EL MENU EN LA PARTE LATERAL-->
    <ion-tabs class="tabs-stable tabs-icon-top diego view-container">
        <ion-tab title="Tab estática 1" icon="ion-ios-list">
            <ion-view title="Tab estatica view">
            <ion-content has-header="true" padding="true">
                    <h2>Tab inicio Content</h2>
                <h2>Tab 1 Content</h2>
                <h2>Tab 1 Content</h2>
                <h2>Tab 1 Content</h2>
                <h2>Tab 1 Content</h2>
                <h2>Tab 1 Content</h2>
                <h2>Tab 1 Content</h2>
                <h2>Tab 1 Content</h2>
                <h2>Tab 1 Content</h2>
                <h2>Tab 1 Content</h2>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="Tab estática 2" icon="ion-android-walk">
            <ion-view title="Tab estatica view">
            <ion-content has-header="true" padding="true">
                    <h2>Tab 2 Content</h2>
                <h2>Tab 2 Content</h2>
                <h2>Tab 2 Content</h2>
                <h2>Tab 2 Content</h2>
                <h2>Tab 2 Content</h2>
                <h2>Tab 2 Content</h2>
                </ion-content>
            </ion-view>
        </ion-tab>
        
    </ion-tabs>
    
</ion-view>