<ion-view title="Gastos" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Resumen</div>
            <div class="item item-body">
                <div id="gastos-markdown4" style="color:#000000;">
                    <p>Gastos totales: $80.000</p>

                    <p>Presupuesto planeado: $120.000</p>
                </div>
            </div>
        </div>
        <button id="gastos-button9" class="button button-balanced  icon ion-android-add">Registrar gasto</button>
        <div class="button-bar">
            <button id="gastos-button10" class="button button-stable  button-block">&lt;</button>
            <button id="gastos-button11" class="button button-positive  button-block">Hoy</button>
            <button id="gastos-button12" class="button button-stable  button-block">&gt;</button>
        </div>
        <ion-list></ion-list>
        <ion-list>
            <ion-item>Gasolina: $50.000</ion-item>
            <ion-item>Almuerzo: $12.000</ion-item>
            <ion-item>Entrada mina: $22.000</ion-item>
        </ion-list>
    </ion-content>
</ion-view>