<ion-view title="Inicio">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <!--Prueba directiva-->
        <boton-inicio actual="1"></boton-inicio>
        <H1>{{variableGlobalDiego}}</H1>
        
        <div class="list card" ng-show="travelInProgress">
            <div class="item item-divider">{{itinerary.name}}</div>
            <div class="item item-body">
                <!--<h2 id="inicio-heading11" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">{{itinerary.name}}</h2>-->
                <div style="line-height: 150px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>


                <!--<a ui-sref="tabsActual.itinerario"
                   style="color:default;"
                   class="button button-energized  button-block icon-right ion-android-open">Continuar viaje</a>-->

                   <a href="#/current/itinerary?continue_adventure=true"
                      style="color:default;"
                      class="button button-energized  button-block icon-right ion-android-open">Continuar viaje (PAR)</a>


                <div>
                    <h3>Resumen</h3>
                    <p>
                        {{itinerary.initialDate | date : 'yyyy-MM-dd'}} -{{ common.summary.endDate | date : 'yyyy-MM-dd'}}<br/>
                        {{common.summary.daysLeft}} días restantes
                        <!--<br/>{{totalActivities - activitiesDone}} actividades restantes
                        <br/>{{activitiesDone}} actividades realizadas-->
                        <br/>Total gastado: {{common.summary.totalSpent | currency }}
                        <br/>Presupuesto restante: {{itinerary.budget - common.summary.totalSpent | currency}}
                        <br/>
                    </p>
                </div>
            </div>
        </div>

        <div class="list card" ng-show="! travelInProgress">
            <div class="item item-body">
                <p>
                Actualmente no tienes ningún viaje en proceso.
                </p>

                <a href="/#/planned"
                    menu-close=""
                    class="button button-positive  icon-left ion-android-calendar">
                    Ir a la lista de viajes planeados
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
