<ion-view title="Itinerario" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2 id="itinerario-heading5" style="color:#000000;">Abril 07</h2>
        <div id="itinerario-markdown3" style="color:#000000;">
            <p>Temperatura promedio 23°C/tiempo seco</p>
        </div>
        <a ui-sref="gralEditarActividad" id="itinerario-button5" class="button button-balanced  icon ion-android-add">Añadir actividad</a>
        <div class="button-bar">
            <button id="itinerario-button6" class="button button-stable  button-block">&lt;</button>
            <button id="itinerario-button7" class="button button-positive  button-block">Hoy</button>
            <button id="itinerario-button8" class="button button-stable  button-block">&gt;</button>
        </div>
        <ion-list>
            <ion-item class="item-divider">Actividades en la mañana</ion-item>
            <ion-item>Mina de sal de Nemocón</ion-item>
            <ion-item>Rodada a Nemocón</ion-item>
            <ion-item class="item-divider">Actividades en la tarde</ion-item>
            <ion-item>Parque Jaime Duque</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 44px;"></div>
        <ion-list>
            <ion-item class="item-divider">Actividades hechas</ion-item>
            <ion-item>Autodromo de Tocancipá</ion-item>
        </ion-list>
    </ion-content>
</ion-view>