<ion-view title="Plan - Lista de días (lugares)" id="page21">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ng-click="openModalActOpction()"
            class="button button-positive  icon-left ion-android-add">
            Añadir actividad
        </a>
        <div class="button-bar">
            <a ui-sref="plan.planListaDeDias" 
               class="button button-stable  button-block"
               menu-close="">Días</a>
            <a ui-sref="plan.planListaDeDiasActividades" 
               class="button button-stable  button-block"
               menu-close="">Actividades</a>
            <button class="button button-positive  button-block">Lugares</button>
        </div>
        <ion-list></ion-list>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>