<ion-view title="Plan - info gral" id="page13">
    <div class="bar bar-header">
      <button class="button button-icon icon ion-navicon"></button>
      <div class="h1 title">Header Buttons</div>
      <button class="button button-clear button-positive">Edit</button>
    </div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!--Boton para volver a la lista de dias
        <div style="margin:5px 0px">
            <button class="button button-outline button-calm button-small icon-left ion-chevron-left"
            ui-sref="planned">
            Viajes planeados
            </button>
        </div>-->
        <form class="list" ng-submit="saveAndGo( 'plan.planListaDeDias' )">
            
            <label class="item item-input">
                <span class="input-label">Nombre del viaje</span>
                <input type="text" placeholder="Nombre" ng-model="itinerary.name">
            </label>
            
            <label class="item item-input">
                <span class="input-label">Duración</span>
                <input type="number" min="1" max="99" placeholder="Días" ng-model="itinerary.duration"
                       ng-blur="updateDays()">
            </label>
            
            <label class="item item-input">
                <span class="input-label">Descripción</span>
                <textarea placeholder="Descripción"  ng-model="itinerary.description"> </textarea>
            </label>
            
            <label class="item item-input">
                <span class="input-label">Presupuesto</span>
                <input type="number" placeholder="$0.00"  ng-model="itinerary.budget"
                style="max-width:30%" maxlength="10">
                {{itinerary.budget | currency}}
            </label>
        
            <button onclick="alert('Abriría un popup para seleccionar la ubicación');"
                class="button button-positive  icon-left ion-location">Ubicación</button>
            <button  class="button button-positive  icon-left ion-android-image"
                    onclick="alert('Abriría un pop up para seleccionar la imagen');">Imagen</button>
        
            
            <ion-item class="item-divider">Medio de transporte</ion-item>            
            <ion-radio name="transporte" 
                       ng-model="itinerary.transport" 
                       value="{{transport.name}}" 
                       ng-repeat="transport in transportation">{{transport.name}}</ion-radio>
        
            <ion-list>
                <ion-item class="item-divider">
                    Tipo de actividades (intereses)
                </ion-item>
            
            <ion-checkbox name="intereses" 
                ng-model="interest.selected"
                value="{{interes.name}}" 
                ng-repeat="interest in interests">
                {{interest.name}}
            </ion-checkbox>
            </ion-list>
            
            <div class="button-bar">
                <a ui-sref="inicio"
                   class="button button-dark  button-block">Cancelar</a>
                <input type="submit" 
                       value="Guardar"
                       class="button button-positive  button-block"/>
            </div>
        </form>
    </ion-content>
</ion-view>