<ion-view title="Plan - Presupuesto">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        <div ng-show="itinerary.budget">
            <div>
                <p>
                    <strong>Planeado</strong>
                    <span style="float:right">{{itinerary.budget | currency}}</span>
                </p>
            </div>
            
            <div>
                <p>
                    <strong>Presupuesto total por actividades</strong>
                    <span style="float:right">{{totalCostActivities  | currency}}</span>
                </p>
            </div>
            <div class="list">
                <ion-toggle toggle-class="toggle-positive" 
                            ng-model="itinerary.alertBudgetLimit"
                            ng-change="budgetToggleChanged()">
                    Alertar límite de presupuesto
                </ion-toggle>

                <div ng-show="itinerary.alertBudgetLimit">
                    <label class="item">
                        <p style="white-space:normal">
                            Alertarme cuando el presupuesto restante sea menor a:
                        </p>
                    </label>
                    <label class="item item-input">
                        <input type="TEXT" id="lbudg" ng-model="itinerary.budgetLimit"
                               ng-blur="budgetLimitChanged()"
                               style="max-width: 50%;"
                               placeholder="$0.00"
                               min="1"
                               max="10000000"
                               maxlength="10" size="10">
                        <span style="max-width: 40%;">
                        {{itinerary.budgetLimit | currency}}
                        </span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="list card"  ng-hide="itinerary.budget">
            <div class="item item-divider">¡Viaje sin presupuesto!</div>
            <div class="item item-body">
                <strong>Para usar esta funcionalidad debes especificar el presupuesto planeado del viaje</strong>
                
                <a ui-sref="plan.planInfoGral"
                   class="button button-balanced  button-block">
                        Ingresar presupuesto
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>