<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-dark tabs-icon-top tabs-icon-only">
        <ion-tab title="Resumen" icon="ion-ios-list" href="#/current/summary">
            <ion-nav-view name="tabSum"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Itinerario" icon="ion-android-walk" href="#/current/itinerary">
            <ion-nav-view name="tabIti"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Gastos" icon="ion-social-usd" href="#/current/expenses">
            <ion-nav-view name="tabExp"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>