<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab icon="ion-clipboard" href="#/plan/plan_general_info">
            <ion-nav-view name="tabInf"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-calendar" href="#/plan/plan_list_day">
            <ion-nav-view name="tabDay"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-social-usd" href="#/plan/plan_expenses">
            <ion-nav-view name="tabExp"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>