<ion-view title="Viajes planeados">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!--Prueba directiva-->
        <boton-inicio actual="2"></boton-inicio>
        
        
        <a ui-sref="plan.planInfoGral" id="inicio-button49" style="color:#3E753E;" class="button button-energized  icon-right ion-android-calendar">Planear viaje</a>
        
        <div class="list card">
            <div class="item item-divider">Santander 2016</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <a ui-sref="plan.planInfoGral" id="viajesPlaneados-button14" class="button button-positive  button-block">Seguir planeando</a>
                <a ui-sref="tabsActual.resumen" id="viajesPlaneados-button15" class="button button-balanced  button-block">Comenzar aventura</a>
                <div>
                    <p>
                        <b>Resumen</b>
                        <br>
                        <span>4 días programados</span>
                        <br>
                        <span>10 actividades</span>
                        <br>
                        <span>Presupuesto: $900.000</span>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>