<ion-view title="Viajes planeados">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!--Prueba directiva-->
        <boton-inicio actual="2"></boton-inicio>
        
        
        
       
        <a href="#/plan/plan_general_info?new_it"
           class="button button-positive  icon-left ion-android-calendar">Planear viaje</a>
        
        <!--
        <a ng-controller="planInfoGralCtrl"
           ng-click="nuevoItinerario()"
           style="color:#3E753E;" class="button button-energized  icon-right ion-android-calendar">Planear viaje</a>
        
        
                
        <a ui-sref="plan.planInfoGral"
           
           ng-click="nuevoItinerario()"
           style="color:#3E753E;" class="button button-energized  icon-right ion-android-calendar">Planear viaje</a>
        
        <a ui-sref="plan.planInfoGral"
           style="color:#3E753E;" class="button button-energized  icon-right ion-android-calendar">Planear viaje</a>-->
        
        <!--lista de todos los itinerarios planeados-->
        <div class="list card" ng-repeat="itPla in planned">
            <div class="item item-divider">{{itPla.id}} {{itPla.name}}</div>
            <div class="item item-body">
                <p>Imagen??</p>
                <!--Le pasa como parámetro el ide lde itinerario que se desea editar-->
                <!--TODO: BORRAR
                <a href="#/plan/plan_general_info?id_it={{itPla.id}}"
                   class="button button-positive  button-block">Seguir planeando OLD</a>-->
                
                <!--Le pasa como parámetro el ide lde itinerario que se desea editar-->
                <a ng-click="continuePlan(itPla)"
                   class="button button-positive  button-block">Seguir planeando</a>
                
                
                <!--ui-sref="tabsActual.resumen" -->
                <a ng-click="setInitialDate( itPla )"
                   class="button button-balanced  button-block">Comenzar aventura</a>
                <div>
                    <p>
                        <b>Resumen</b>
                        <br>
                        <span>{{itPla.days.length}} días programados</span>
                        <br>
                        <span ng-show="itPla.budget">Presupuesto: ${{itPla.budget}}</span>
                        
                        
                    </p>
                    
                    <a ng-click="showConfirmRemovePlanned({{itPla.id}})"
                        style="float:right"
                        class="button button-outline button-assertive button-small">
                        <i class="icon ion-trash-a"></i>
                        Eliminar
                    </a>
                </div>
            </div>
        </div>
        
        <div class="list card" ng-show="planned.length === 0 ">
            <div class="item item-divider">Lista de planes</div>
            <div class="item item-body">
                <h1>En este momento no tienes viajes planeados</h1>
            </div>
        </div>
    </ion-content>
</ion-view>