<ion-view title="Viajes vividos" id="page12">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <!--Prueba directiva-->
        <boton-inicio actual="4"></boton-inicio>

        <div class="list card" ng-repeat="itDone in done">
          <div class="item item-divider">{{itDone.name}}</div>
          <div class="item item-body">
              <!--
              <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                  <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
              </div>-->
              <p ng-show="itDone.description">
                {{itDone.description}}
              </p>
              <div>
                  <p>
                      <b>Fecha: {{itDone.initialDate | date : 'yyyy-MM-dd' }}</b>
                      <br>
                      <span>{{itDone.days.length}} días</span>
                      <br>
                      <span ng-show="itDone.budget">Presupuesto: {{itDone.budget | currency}}</span>
                      <br />
                      <!--
                      <b>Tipos de actividades</b>
                      <br>
                      <span>Aventura | Cultura | PENDIENTE</span>
                      <br>-->
                  </p>
              </div>
              <div class="button-bar">
                  <button class="button button-positive  button-block"  onclick="alert('Por implementar')">Diario</button>
                  <button class="button button-balanced  button-block" onclick="alert('Por implementar')">Publicar</button>
              </div>
          </div>
        </div>
    </ion-content>
</ion-view>
