<ion-view title="Gral - Mis actividades" id="page23">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="gralEditarActividad" id="gralMisActividades-button80" class="button button-balanced  icon-left ion-android-add">Crear actividad</a>
        <div class="button-bar">
            <button id="gralMisActividades-button81" class="button button-dark  button-block icon-left ion-ios-person">Privadas</button>
            <button id="gralMisActividades-button82" class="button button-stable  button-block icon-right ion-ios-people">Públicas</button>
        </div>
        <form class="list"></form>
        <div class="list card">
            <div class="item item-divider">Buscar alojamiento</div>
            <div class="item item-body">
                <div>
                    <p>Visita al museo de el oro, donde se puede apreciar gran variedad de piezas arqueológicas</p>
                    <p>
                        Costo: $5.000.00
                    </p>
                    <p>

                    </p>
                </div>
                <div class="button-bar">
                    <button id="gralMisActividades-button69" class="button button-balanced  button-block icon ion-android-add"></button>
                    <button id="gralMisActividades-button70" class="button button-assertive  button-block icon ion-ios-trash"></button>
                    <button id="gralMisActividades-button71" class="button button-positive  button-block icon ion-edit"></button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Cerro de las tres cruces</div>
            <div class="item item-body">
                <div>
                    <p>Visita al cerro donde anteriormente habían 3 cruces</p>
                    <p style="color:green">
                        Sin costo
                    </p>
                    <p>

                    </p>
                </div>
                <div class="button-bar">
                    <button id="gralMisActividades-button84" class="button button-balanced  button-block icon ion-android-add"></button>
                    <button id="gralMisActividades-button85" class="button button-assertive  button-block icon ion-ios-trash"></button>
                    <button id="gralMisActividades-button86" class="button button-positive  button-block icon ion-edit"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>