<ion-view view-title="My Page">
    <ion-content>

        <div class="list card">
            <div class="item item-divider">Viaje actual - {{nombre}}</div>
            <div class="item item-body">
                <h2 id="inicio-heading11" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Mitad del mundo</h2>
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <a ui-sref="tabsActual.itinerario_tab2" id="inicio-button16" style="color:default;" class="button button-energized  button-block icon-right ion-android-open">Continuar viaje</a>
                <div>
                    <h3>Resumen</h3>
                    <p>
                        3 días restantes
                        <br>10 actividades restantes
                        <br>9 actividades realizadas
                        <br>Total gastado: $500.00
                        <br>Presupuesto restante: $300.000
                        <br>

                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>