<ion-view title="Inicio" id="page9">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        
        <a ui-sref="tabsActual.planInfoGral_tab6" id="inicio-button49" style="color:#3E753E;" class="button button-energized  icon-right ion-android-calendar">Planear viaje</a>
           
        <div class="button-bar">
            <a nav-transition="none" class="button button-stable button-block " href="#/inicio/actual">Actual</a>
            <a nav-transition="none" class="button button-stable button-block " href="#/inicio/planeados">Planeados</a>
            <a class="button button-stable button-block" href="#/nav_menu/planned">Sugeridos</a>
            <a  class="button button-stable button-block " href="#/nav_menu/planned">Realizados</a>
        </div>
        
        aca
        <ion-nav-view name="tipo_viaje" ></ion-nav-view>
        aca
        
    </ion-content>
</ion-view>