<ion-view title="Plan - Plan de gastos" id="page15">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2 id="planPlanDeGastos-heading8" style="color:#000000;">Gastos planeados</h2>
        <div>
            <div>
                <p>
                    <strong>Total por actividades</strong>
                    <span style="float:right">$740.000</span>
                </p>
            </div>
            <div>
                <div>
                    <p>
                        <strong>Total por otros gastos</strong>
                        <span style="float:right">
                            $340.000</span>
                    </p>
                </div>
                <hr>
                <p style="color:green">
                    <strong>Total por otros gastos</strong>
                    <span style="float:right">
                        $1'080.000</span>
                </p>
            </div>
        </div>
        <ion-list>
            <ion-toggle toggle-class="toggle-positive">Alertar límite de presupuesto</ion-toggle>
        </ion-list>
        <a ui-sref="planNuevoGasto" id="planPlanDeGastos-button45" class="button button-positive  button-block">Nuevo gasto</a>
        <ion-list>
            <ion-item class="item-divider">Costos planeados</ion-item>
            <ion-item>Alojamiento: $50.000</ion-item>
            <ion-item>Transporte: $210.000</ion-item>
            <ion-item>Alimentación: $80.000</ion-item>
        </ion-list>
        <div style="margin-right:-20px;">
            <a ui-sref="inicio" id="planPlanDeGastos-button72" style="left:-10px;" class="button button-balanced  button-full">Guardar plan de viaje</a>
        </div>
    </ion-content>
</ion-view>