<ion-view title="Viajes vividos" id="page12">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        <!--Prueba directiva-->
        <boton-inicio actual="4"></boton-inicio>
        <div class="list card">
            <div class="item item-divider">Rodada Boyacá</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <form class="list"></form>
                <div>
                    <p>
                        <b>Enero 2016</b>
                        <br>
                        <span>3 días | 5 Actividades | $600.000</span>
                        <br>
                        <b>Tipos de actividades</b>
                        <br>
                        <span>Aventura | Cultura</span>
                        <br>
                    </p>
                </div>
                <div class="button-bar">
                    <button id="viajesVividos-button28" class="button button-positive  button-block">Diario</button>
                    <button id="viajesVividos-button29" class="button button-positive  button-block">Publicar</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>