<ion-view title="Viajes planeados" id="page10">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Santander 2016</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <a ui-sref="tabsController.planInfoGral_tab6" id="viajesPlaneados-button14" class="button button-positive  button-block">Seguir planeando</a>
                <a ui-sref="tabsController.resumen_tab1" id="viajesPlaneados-button15" class="button button-balanced  button-block">Comenzar aventura</a>
                <div>
                    <p>
                        <b>Resumen</b>
                        <br>
                        <span>4 días programados</span>
                        <br>
                        <span>10 actividades</span>
                        <br>
                        <span>Presupuesto: $900.000</span>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>