<ion-view title="Actual - Detalles del viaje">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="mochiApp.inicio" class="button   button-small icon-left ion-android-arrow-back">Volver a mis viajes</a>
        <div class="list card">
            <div class="item item-divider">Mitad del mundo</div>
            <div class="item item-body">
                <div>
                    <p>
                        <strong>Fechas:</strong>Abr 06 - Abr 09</p>
                </div>
            </div>
        </div>
        <h3>Resumen</h3>
        <ion-list>
            <ion-item class="item-divider">Actividades</ion-item>
            <ion-item ui-sref="tabsViajeActual.actualActividadesParaHoy">3 días restantes</ion-item>
            <ion-item ui-sref="tabsViajeActual.actualActividadesParaHoy">9/19 Actividades realizadas</ion-item>
            <ion-item class="item-divider">Presupuesto</ion-item>
            <ion-item ui-sref="tabsViajeActual.actualResumenGastos">Total gastado: $900.000</ion-item>
            <ion-item ui-sref="planAAdirDA">Presupuesto planeado: $1'000.000</ion-item>
        </ion-list>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>