<ion-view title="Actual - Nuevo gasto">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Descripción</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Valor</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Notas</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <form class="list">
            <ion-item class="item-divider">Tipo de gasto</ion-item>
            <ion-radio name="tipo_gasto">Comida</ion-radio>
            <ion-radio name="tipo_gasto">Transporte</ion-radio>
            <ion-radio name="tipo_gasto">Alojamiento</ion-radio>
            <ion-radio name="tipo_gasto">Entretenimiento</ion-radio>
            <ion-radio name="tipo_gasto">Otro</ion-radio>
        </form>
        <a ui-sref="tabsViajeActual.actualResumenGastos" class="button button-positive button-block ">Registrar gasto</a>
    </ion-content>
</ion-view>