<ion-view title="Actual - Actividades para mañana">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="mochiApp.inicio" class="button   button-small icon-left ion-android-arrow-back">Volver a mis viajes</a>
        <h2>Abril 08</h2>
        <a ui-sref="actualEditarActividad" class="button button-balanced   icon-left ion-android-add">Añadir</a>
        <div class="button-bar">
            <a ui-sref="tabsViajeActual.actualActividadesParaHoy" class="button button-stable button-block ">Hoy</a>
            <button class="button button-positive button-block ">Abril 8</button>
            <button class="button button-stable button-block ">&gt;</button>
        </div>
        <ion-list>
            <ion-item class="item-divider">Actividades en la mañana</ion-item>
            <ion-item>Visita al nevado</ion-item>
            <ion-item>Parque de las araucarias</ion-item>
            <ion-item>Discoteca Bahía</ion-item>
        </ion-list>
    </ion-content>
</ion-view>