<ion-view title="Gral - Añadir actividad">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="planEditarActividad" class="button button-stable button-block ">Crear actividad!</a>
        <div class="button-bar">
            <a ui-sref="gralActividadesSugeridas" class="button button-assertive button-block ">Sugerencias</a>
            <a ui-sref="mochiApp.gralMisActividades" class="button button-energized button-block ">Mis actividades!</a>
        </div>
    </ion-content>
</ion-view>