<ion-view title="Intro">
    <ion-content overflow-scroll="true" padding="false" style="background: url(img/6M5yKHdySuevsSpeUis8_300-Amazing-l.jpg) no-repeat center;" scroll="false">
        <div>
            <div>
                <div style="margin:2em 1em;text-align:center;background:rgba(75,75,75,0.5);color:white">
                    <h1 style="color:white">Un viaje se vive 3 veces</h1>
                    <br>
                    <h3 style="color:white">Al soñarlo</h3>
                    <br>
                    <h3 style="color:white">Al vivirlo</h3>
                    <br>
                    <h3 style="color:white">Al recordarlo</h3>
                    <br>
                </div>
            </div>
        </div>
        <a ui-sref="mochiApp.inicio" class="button button-calm button-block ">Ingresar</a>
    </ion-content>
</ion-view>