<ion-view title="Mis viajes planeados">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="tabsPlaneacion.planInformaciNGeneral" class="button button-calm   icon-left ion-plus">Planear viaje</a>
        <div class="button-bar">
            <a ui-sref="mochiApp.inicio" class="button button-stable button-block ">Actual</a>
            <button class="button button-dark button-block ">Planeados</button>
            <a href="#/sugeridos" class="button button-stable button-block ">Sugeridos</a>
            <a href="#/realizados" class="button button-stable button-block ">Realizados</a>
        </div>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Zapsurro pacífico</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <ion-list></ion-list>
                <a ui-sref="tabsPlaneacion.planInformaciNGeneral" class="button button-energized button-block  icon-right ion-edit">Seguir planeando...</a>
                <a ui-sref="tabsViajeActual.actualActividadesParaHoy" class="button button-royal button-block  icon-right ion-android-exit">Comenzar aventura</a>
                <div>
                    <div>
                        <strong>Resumen</strong>
                        <br>
                        <span>
                            3 días restantes
                        </span>
                        <br>
                        <span>
                            10 Actividades restantes
                        </span>
                        <br>
                        <span>
                            9 Actividades realizadas
                        </span>
                        <br>
                        <span>
                            Total gastado: $900.000
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
        <ion-list></ion-list>
    </ion-content>
</ion-view>