<ion-view title="Plan - Actividades día">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <h1>Día 1 - Viaje a Turbo</h1>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Notas</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <div>
            <div>
                <p>
                    Cada día podría tener la opción de ingresar las notas, y en este espacio se verían.
                </p>
            </div>
            <p>UPLICAR ACTIVIDADES EN ALGÚN DÍA</p>
        </div>
        <div class="button-bar"></div>
        <a ui-sref="gralAAdirActividad" class="button button-balanced button-block  icon-left ion-android-add">Añadir actividad</a>
        <div class="button-bar">
            <button class="button button-stable button-block  icon-left ion-chevron-left">previo</button>
            <button class="button button-stable button-block  icon-right ion-chevron-right">siguiente</button>
        </div>
        <ion-list>
            <ion-item class="item-divider">Mañana</ion-item>
            <ion-item>Búsqueda de alojamiento</ion-item>
            <ion-item>Comida típica</ion-item>
            <ion-item class="item-divider">Tarde</ion-item>
            <ion-item>Visita al cerro</ion-item>
            <ion-item class="item-divider">Noche</ion-item>
            <ion-item>Noche de birras</ion-item>
        </ion-list>
    </ion-content>
</ion-view>