<ion-view title="Plan - Añadir día">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list></ion-list>
        <h2>Día 1</h2>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Alias</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="button-bar">
            <a ui-sref="tabsPlaneacion.planListaDeDAs" class="button button-balanced button-block  icon-left ion-checkmark">Guardar</a>
            <a ui-sref="tabsPlaneacion.planListaDeDAs" class="button button-assertive button-block  icon-left ion-android-cancel">Cancelar</a>
        </div>
    </ion-content>
</ion-view>