<ion-view title="Plan - Lista de días (vista lugares)">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="tabsPlaneacion.planListaDeDAs" class="button button-light button-block ">Días</a>
            <a ui-sref="tabsPlaneacion.planListaDeDAsVistaActividades" class="button button-light button-block ">Actividades</a>
            <button class="button button-positive button-block ">Lugares</button>
        </div>
        <div>
            <p>Lugares marcados en el mapa asociados a las actividades</p>
        </div>
        <ion-list></ion-list>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>