<ion-view title="Tabs planeacion">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Info gral" icon="ion-ios-compose" href="#/option_tabs_1/info_gral">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Itinario" icon="ion-android-calendar" href="#/option_tabs_1/days_trip">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Gastos planeado" icon="ion-social-usd" href="#/option_tabs_1/edit_presup_plan">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>