<ion-view view-title="¿Que desea hacer?">
  <ion-content class="center">
    <div class="row row-center"  style="margin-top:25%">
        <div class="col">
            <a class="button button-block button-energized icon-right ion-earth" href="#/app/create">
            Planear un viaje.
            </a>
        </div>
    </div>
    <div class="row row-center" style="margin-top:10%">
            <div class="col">
            
                <a class="button button-block icon-right ion-search" onclick="alert('Pendiente implementar');return false;">
                Explorar
                </a>
            </div>
        </div>
  </ion-content>
</ion-view>
