/* Empty. Add your own CSS if you like */
.btn_inicio{
    margin:30% auto 0px auto;
    border:2px solid black;
    width: 50%;
    min-height: 4em;
    padding: 1em;
    text-align: center;
    border-radius: 2em 1em;
    font-weight: bold;
}

/*Botón fijo call to action*/
.btn_flotante {
    position: absolute;
    bottom: 25px;
    right: 24px;
    z-index: 500;
    width: 55.5px;
    height: 55.5px;
    border-radius: 50%;
    /* color: red; */
    border: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: red;
}

/*Estilos de la pantalla que lista los días*/

.dia{
    /*border:red solid 1px;*/
    
}
.dia-id{
    border: 1px solid #ddd;
    background: #f7f7f7;
    width: 5em;
    height: 5em;
    text-align: center;
    border-radius: 3em;
    padding: 1.5em;
    font-size: 15px;
    margin: 0px auto 0px auto;
}

.dia .col{
   /* outline: 1px solid blue;*/
    
}